* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: #162542;
}

h2 {
    margin: 0;
}

body {
    padding-top: 24px;
    padding-bottom: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header-cta {
    font-weight: 700;
    text-decoration: none;
    padding: 12px 14px;
    background-color: #E8EFF2;
    border-radius: 8px;
    text-transform: uppercase;
}

.hero {
    margin-bottom: 64px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 64px;
    margin-bottom: 32px;
}

.main-title-description {
    color: #7B8BAD;
    font-weight: 500;
    margin: 0;
    margin-bottom: 44px;
}

.hero div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-cta {
    font-weight: 700;
    text-decoration: none;
    padding: 12px 14px;
    color: #FFFFFF;
    background-color: #F16718;
    border-radius: 8px;
    text-transform: uppercase;
}

.hero-release-date {
    color: #7B8BAD;
    font-weight: 700;
}

img {
    width: 100%;
    border-radius: 32px;
}

.keyboard {
    width: 95%;
    margin-left: auto;
    margin-bottom: 24px;
    /* overflow: hidden; */
}

.keyboard img {
    border-radius: unset;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.top-section {
    overflow: hidden;
}

.hero-bottom-images {
    display: flex;
    overflow: hidden;
}

.keyboard-phone {
    width: 129px;
    margin-left: -24    px;
}

.keyboard-glass {
    width: 220px;
    margin-left: 24px;
}

.product-plug {
    margin-top: 76px;
    margin-bottom: 112px;
}

.plug-title,
.product-features {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

.plug-description,
.features-description {
    text-align: center;
    color: #7B8BAD;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 24px;
}

.product-specs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-logo {
    margin-top: 64px;
    margin-bottom: 48px;
    background-color: #F16718;
    border-radius: 16px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 96px;
}

footer p{
    text-align: center;
    color: #7B8BAD;
    font-weight: 500;
}

footer span {
    color: #7B8BAD;
    font-weight: 700;
}